<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="im.lincq.mybatisplus.taste.test.mapper.UserMapper">

    <!-- ehcache 缓存配置, 输出日志 http://www.mybatis.org/ehcache-cache/   （并不是关键决定是否应用缓存的配置） -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache" />

    <!-- 建议字段，采用驼峰命名方法，不然很麻烦（lincq:大佬应该也是遇到和我上回一致的问题，不然他应该早就做sql注入了） -->
    <select id="selectListRow" resultType="User">
        select test_id AS id,name,age from user
    </select>

</mapper>